.marginTop30 {
    margin-top: 30px;
}

.marginLeft16 {
    margin-left: 16px;
}

.marginTop16 {
    margin-top: 16px;
}

.marginY16 {
    margin: 16px 0px 16px 0px
}

.flex {
    display: flex;
}

.flexContentCenter {
    display: flex;
    justify-content: center;
}

.flexItemCenter {
    display: flex;
    align-items: center;
}

.pageContainer {
    padding: 16px;
}

.fullWidth {
    width: 100%;
}

.homeContainer {}