.container {
  display: flex;
  padding-left: 8rem;
  padding-right: 8rem;
  margin-top: 3rem;
  flex-direction: column;
  width: 100%;
}

.errorMessage {
  font-weight: 700;
  text-align: center;
  color: #EF4444;
}

.inputPassword {
  margin-top: 30px;
}